/CELLPointer.class
/ESMManager.class
/InteriorCELLBlock.class
/InteriorCELLSubblock.class
/InteriorCELLTopGroup.class
/WRLDChildren.class
/WRLDExtBlock.class
/WRLDExtSubblock.class
/WRLDTopGroup.class
