/ESSFile.class
/ESSInputStream.class
/ESSOutputStream.class
/ESSReader.class
/ESSUtils.class
/ESSWriter.class
/StructBasicData.class
/StructChangeForms$ChangeFormType.class
/StructChangeForms.class
/StructFileLocationTable.class
/StructFormId.class
/StructGlobalData.class
/StructHeader.class
/StructPluginInfo.class
/StructRefId.class
/StructUnknown3Table.class
